@{
    ViewData["Title"] = "Выберите действие";
}

<div class="apply-a-link-formatting">
    @if (User.IsInRole("reseptionist") || (User.IsInRole("technologist")) || (User.IsInRole("admin")))
    {
        <h6 class="text-light">Доступные действия</h6><br />
        <div>
            <div class="form-group">
                <a asp-controller="Order" asp-action="Index">Наряд-заказы</a>
            </div>
            <div class="form-group">
                <a asp-controller="Order" asp-action="Create">Создать новый наряд-заказ</a>
            </div>
            <div class="form-group">
                <a asp-controller="Client" asp-action="Index">Клиентская база</a>
            </div>
            <div class="form-group">
                <a asp-controller="Client" asp-action="Create">Добавить клиента</a>
            </div>

            @if (User.IsInRole("admin"))
            {
                <div class="form-group">
                    <a asp-controller="Account" asp-action="Index">Аккаунты сотрудников</a>
                </div>
                <div class="form-group">
                    <a asp-controller="Account" asp-action="Register">Добавить аккаунт сотрудника</a>
                </div>
            }
        </div>
    }
    else
    {
        ViewData["Title"] = "";
        <h6>Для данного аккаунта не указаны права доступа. Обратитесь к администратору.</h6><br />
    }

</div>
