@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a asp-controller="Account" asp-action="Edit" asp-route-id="@UserManager.GetUserId(User)" class="nav-link text-light">@User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout">
                <button type="submit" class=" btn btn-outline-light">Выйти</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <button type="button" class="btn btn-outline-light" asp-area="" asp-controller="Account" asp-action="Login">Войти</button>
        </li>
    }
</ul>
